<ngx-ee-form #eeForm [formGroup]="form">
    <div *ngIf="eeForm.hasError">
        <p>{{ eeForm.error }}</p>
    </div>

    <div>
        <label>Firstname</label>
        <input formControlName="firstname" type="text" />

        <app-form-error controlName="firstname"
            >Please enter a valid firstname</app-form-error
        >
    </div>

    <div>
        <label>Lastname</label>
        <input formControlName="lastname" type="text" />

        <app-form-error controlName="lastname"
            >Please enter a valid lastname</app-form-error
        >
    </div>

    <div>
        <label>E-Mail</label>
        <input formControlName="email" type="email" />

        <app-form-error controlName="lastname"
            >Please enter a valid email</app-form-error
        >
    </div>

    <div>
        <button type="submit" [disabled]="form.invalid">Submit</button>
    </div>
</ngx-ee-form>
